<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  				  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
  <head>
  <title>MSSE Contacts</title>
  <%= javascript_include_tag "md5" %>
  <%= csrf_meta_tags %>

  	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<meta name="keywords" content="" />
  	<meta name="description" content="" />
  	<meta name="language" content="en-us" />
  	<meta name="robots" content="index,follow" />
  	<meta name="googlebot" content="index,follow" />
  	<meta name="msnbot" content="index,follow" />
  	<meta name="revisit-after" content="7 Days" />
  	<meta name="city" content="Minneapolis" />
  	<meta name="state" content="Iowa" />
  	<meta name="zipcode" content="55124" />
  	<meta name="country" content="United States (USA)" />
  	<meta name="geo.placename" content="Minneapolis, MN" />
  	<meta name="geo.region" content="US-MN" />
  	<meta name="rating" content="general" />
  	<meta name="distribution" content="global" />
  	<meta name="url" content="file://contacts.html" />
  	<meta name="copyright" content="Copyright 2013. All rights reserved." />
  	<meta name="author" content="Team Something Witty" />
	<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
  	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="https://raw.github.com/jquery/jquery-tmpl/master/jquery.tmpl.min.js"></script>
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
  	<script lang="text/javascript">
var contacts = [
				{
					id: "1ab",
					name: "Steve Atterbury",
					title: "Lockheed",
					defaultEmail: "Unimatrix01@gmail.com",
					defaultPhone: "952-491-3716",
					emails: [
						"Unimatrix01@gmail.com"
					],
					phones: [
						"952-491-3716"
					]
				},
				{
					id: "2ab",
					name: "Steve McAdams",
					title: "Lockheed",
					defaultEmail: "smcadams86@gmail.com",
					defaultPhone: "555-555-5555",
					emails: [
						"smcadams86@gmail.com",
					],
					phones: [
						"555-555-5555"
					]
				},
				{
					id: "3ab",
					name: "Ray Tiley",
					title: "Tightrope Media Systems",
					defaultEmail: "raytiley@gmail.com",
					defaultPhone: "555-555-5555",
					emails: [
						"raytiley@gmail.com"
					],
					phones: [
						"555-555-5555"
					]
				},
				{
					id: "4ab",
					name: "Tyler Smith",
					title: "General Dynamics",
					defaultEmail: "tylerhesthedude@gmail.com",
					defaultPhone: "555-555-5555",
					emails: [
						"tylerhesthedude@gmail.com"
					],
					phones: [
						"555-555-5555"
					]
				},
			];

  		$().ready(function() {
                        refreshContacts();
                });
                
                function refreshContacts() {
/*
                        $.getJSON("contacts", function(data) {
                            contacts = data;
*/
                            var contact_template = $('#contacts').clone();
                            $('#contact').remove();
                            contact_template.tmpl(contacts).appendTo('#contacts');
/*
                        });
*/
                }

  		function deleteContact(_name, _id) {
  			if (confirm("Are you sure you want to delete the contact '" + _name + "'?")) {
  				// TODO: delete the contact, refresh the grid
  				var status = $('#message');
  				status.removeClass('error');
  				status.addClass('success');
  				status.css("display", "block");
  				$('#messageContent').html(_name + " has been deleted.");
  			}
  			return false;
  		}

  	</script>
  </head>
  <body>


<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Contacts</a>
          <div class="nav-collapse collapse">
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>



  	<div class="container">
  		<div id="header"></div>
  		<div id="debug"></div>
  		<div id="content">
<a href="#" class="pull-right"><img src="assets/add.gif" width="16" height="16" alt="Add New Contact" title="Add New Contact" />Add New Contact</a>
  				<table class="table table-striped table-bordered table-hover table-condensed" cellspacing="0" cellpadding="0" border="0" id="jsgrid">
  					<thead>
  						<tr>
  							<th style="width:50px;"></th>
  							<th>Name</th>
  							<th>Title</th>
  							<th>Phone Number</th>
  							<th>Email</th>
  							<th style="width:5%" nowrap="nowrap">Actions</th>
  						</tr>
  					</thead>
  					<tbody id="contacts">
  						<tr id="contact">
  							<td width="0%"><img src='http://www.gravatar.com/avatar/${md5(defaultEmail)}?d=monsterid&s=50'/></td>
  							<td>${name}</td>
  							<td>${title}</td>
  							<td>${defaultPhone}</td>
  							<td>${defaultEmail}</td>
  							<td nowrap="nowrap">
  								<a href="#"><img src="assets/edit.gif" width="16" height="16" title="Edit this contact" alt="Edit this contact" /></a>
  								<a href="#" onclick="return deleteContact('${name}', '${id}');"><img src="assets/delete.gif" width="16" height="16" title="Delete this contact" alt="Delete this contact" /></a>
  							</td>
  						</tr>
  					</tbody>
  				</table>
  			</div>
  		</div>
  </body>
</html>

