<div data-role="page" id="home-page">
  <div data-role="header">
    <h1>MSSE jQuery Mobile Contact Viewer</h1>
    <a href="#contact-edit-page" class="ui-btn-right" data-icon="check">New Contact</a>
  </div>
  <div data-role="content">
    <ul data-role="listview" id="contact-list" data-filter="true">
      <li>
        <a href="#contact-details-page">List item 1</a>
      </li>
    </ul>
  </div>
</div>

<div data-role="page" id="contact-details-page">
  <div data-role="header" id="contact-details-header">
    <a href="" onclick="goHome()" data-icon="back">Back</a>
    <h1>Details</h1>
    <a href="#contact-edit-page" data-icon="edit" data-theme="b">Edit</a>
  </div>
  <div data-role="content">
    <div id="detail_image">
    </div>
    <div role="fieldcontain">
      <h3>Name:</h3>
      <p id="detail_name" />
    </div>
    <div role="fieldcontain">
      <h3>Title:</h3>
      <p id="detail_title" />
    </div>
    <div role="fieldcontain">
      <h3>Phones:</h3>
      <p id="detail_phones" />
    </div>
    <div role="fieldcontain">
      <h3>Emails:</h3>
      <p id="detail_emails" />
    </div>
    <div role="fieldcontain">
      <h3>Twitter:</h3>
      <p id="detail_twitter" />
    </div>
    <button id="contact_delete_btn" value="Delete"></button>
  </div>
</div>


<div data-role="page" id="contact-edit-page">
  <div data-role="header">
    <a href="" data-rel="back" data-icon="delete">Cancel</a>
    <h1>New Contact</h1>
    <a href="" data-icon="check" data-theme="b" id="save" onclick="return false;">Save</a>
  </div>
  <div data-role="content">
    <form id="saveContact" action="#" method="post">
      <input type="hidden" id="id" name="id" value="" />
      <div data-role="fieldcontain">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value="" placeholder="Name"/>
      </div>
      <div data-role="fieldcontain">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" value="" placeholder="Title"/>
      </div>
      <div data-role="fieldcontain">
        <label>Phone Numbers:</label>
      </div>
      <div id="phones">
      </div>
      <div data-role="fieldcontain">
        <a href="" data-role="button" data-icon="plus" class="ui-btn-right" onclick="addPhoneNum('', false, false, true); return false;">New Phone Number</a>
      </div>
      <div data-role="fieldcontain">
        <label for="newemail">Emails:</label>
      </div>
      <div id="emails">
      </div>
      <div data-role="fieldcontain">
        <a href="" data-role="button" data-icon="plus" class="ui-btn-right" onclick="addEmail('', false, true); return false;">New Email</a>
      </div>
    </form>
  </div>
</div>