<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  				  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
  <head>
     <title>MSSE Contacts</title>
      <%= javascript_include_tag "application" %>
      <%= javascript_include_tag "jquery.tmpl" %>
      <%= csrf_meta_tags %>

      <meta http-equiv="content-type" content="text/html;charset=utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="keywords" content="" />
      <meta name="description" content="" />
      <meta name="language" content="en-us" />
      <meta name="robots" content="index,follow" />
      <meta name="googlebot" content="index,follow" />
      <meta name="msnbot" content="index,follow" />
      <meta name="revisit-after" content="7 Days" />
      <meta name="city" content="Minneapolis" />
      <meta name="state" content="Iowa" />
      <meta name="zipcode" content="55124" />
      <meta name="country" content="United States (USA)" />
      <meta name="geo.placename" content="Minneapolis, MN" />
      <meta name="geo.region" content="US-MN" />
      <meta name="rating" content="general" />
      <meta name="distribution" content="global" />
      <meta name="url" content="file://contacts.html" />
      <meta name="copyright" content="Copyright 2013. All rights reserved." />
      <meta name="author" content="Team Something Witty" />
      <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
      <script lang="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap.js"></script>
      <style>
         body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
         }
      </style>
      <script lang="text/javascript">
         $().ready(function() {
            refreshContacts();
         });

         function editContact(contactId) {
            var row = $("tr.contact_id_"+contactId);

            $("#contactModal").find("#name").val($(row).find(".name").text());
            $("#contactModal").find("#title").val($(row).find(".title").text());
            $.each($(row).find(".emails li"), function(index, value) {
               addEmailToModal($(value).text());
            });
            $.each($(row).find(".phones li"), function(index, value) {
               addPhoneToModal($(value).text());
            });
         }

         function refreshContacts() {
            $.getJSON("contacts", function(data) {
            /*contacts = data;*/
            var contact_template = $('#contacts').clone();
            $('#contact').remove();
               contact_template.tmpl(contacts).appendTo('#contacts');
            });
         }

         function deleteContact(_name, _id) {
            if (confirm("Are you sure you want to delete the contact '" + _name + "'?")) {
               // TODO: delete the contact, refresh the grid
               var status = $('#message');
               status.removeClass('error');
               status.addClass('success');
               status.css("display", "block");
               $('#messageContent').html(_name + " has been deleted.");
            }
            return false;
         }

         function addPhoneToModal(value) {
            $("#contactModal").find(".phones")
               .append($("<div>")
                  .attr("class", "phone")
                  .append($("<input>")
                     .attr("type", "text")
                     .attr("value", value)
                     .attr("class", "phone_input")
                     .attr("placeholder", "Phone")
                  )
                  .append($("<div>")
                        .attr("class", "btn btn-danger")
                        .attr("onClick", "$(this).parent().remove();")
                     .append($("<i>")
                        .attr("class", "icon icon-trash icon-white")
                     )
                  )
               );
         }

         function addEmailToModal(value) {
            $("#contactModal").find(".emails")
               .append($("<div>")
                     .attr("class", "email")
                  .append($("<input>")
                     .attr("type", "text")
                     .attr("value", value)
                     .attr("class", "email_input")
                     .attr("placeholder", "Email")
                  )
                  .append($("<div>")
                        .attr("class", "btn btn-danger")
                        .attr("onClick", "$(this).parent().remove();")
                     .append($("<i>")
                        .attr("class", "icon icon-trash icon-white")
                     )
                  )
               );
         }
      </script>
   </head>
   <body>
      <div class="navbar navbar-inverse navbar-fixed-top">
         <div class="navbar-inner">
            <div class="container">
               <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
               </button>
               <a class="brand" href="#">Contacts</a>
               <div class="nav-collapse collapse">
               </div><!--/.nav-collapse -->
            </div>
         </div>
      </div>
      <div class="container">
         <div id="header"></div>
         <div id="debug"></div>
         <div id="content">
            <!-- Modal -->
            <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h3 id="myModalLabel">Modal header</h3>
               </div>
               <div class="modal-body">
                  <p>One fine body…</p>
               </div>
               <div class="modal-footer">
                  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                  <button class="btn btn-primary">Save changes</button>
               </div>
            </div>
            <a href="#" class="pull-right" data-toggle="modal" data-target="#contactModal"><img src="assets/add.gif" width="16" height="16" alt="Add New Contact" title="Add New Contact" />Add New Contact</a>
            <table class="table table-striped table-bordered table-hover table-condensed" cellspacing="0" cellpadding="0" border="0" id="jsgrid">
               <thead>
                  <tr>
                     <th style="width:50px;"></th>
                     <th>Name</th>
                     <th>Title</th>
                     <th>Phone Number</th>
                     <th>Email</th>
                     <th style="width:5%" nowrap="nowrap">Actions</th>
                  </tr>
               </thead>
               <tbody id="contacts">
                  <tr id="contact" class="contact_id_${id}">
                     <td width="0%"><img src='http://www.gravatar.com/avatar/${md5(default_email)}?d=monsterid&s=50'/></td>
                     <td class="name">${name}</td>
                     <td class="title">${title}</td>
                     <td class="phones">
                        <ul>
                           {{each phones}}
                           <li>${this}</li>
                           {{/each}}
                        </ul>      
                     </td>
                     <td class="emails">
                        <ul>
                           {{each emails}}
                           <li>${this}</li>
                           {{/each}}
                        </ul>      
                     </td>
                     <td nowrap="nowrap">
                        <a href="#" onClick="editContact('${id}');" data-toggle="modal" data-target="#contactModal" ><img src="assets/edit.gif" width="16" height="16" title="Edit this contact" alt="Edit this contact" /></a>
                        <a href="#" onclick="return deleteContact('${name}', '${id}');"><img src="assets/delete.gif" width="16" height="16" title="Delete this contact" alt="Delete this contact" /></a>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <div id="contactModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="contactModalLabel">Contact</h3>
         </div>
         <form class="form-horizontal" id="contact_form">
            <div class="modal-body">
               <div class="control-group">
                  <label class="control-label" for="name">Name</label>
                  <div class="controls">
                     <input type="text" id="name" placeholder="Name">
                  </div>
               </div>
               <div class="control-group">
                  <label class="control-label" for="title">Title</label>
                  <div class="controls">
                     <input type="text" id="title" placeholder="Title">
                  </div>
               </div>
               <div class="control-group">
                  <label class="control-label" for="emails">Emails</label>
                  <div class="controls">
                     <div class="emails"></div>
                     <div class="btn" onClick="addEmailToModal('');"><i class="icon icon-plus"></i></div>
                  </div>
               </div>
               <div class="control-group">
                  <label class="control-label" for="phones">Phones</label>
                  <div class="controls">
                     <div class="phones"></div>
                     <div class="btn" onClick="addPhoneToModal('');"><i class="icon icon-plus" ></i></div>
                  </div>
               </div>
            </div>
            <div class="modal-footer">
               <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
               <button class="btn btn-primary">Save changes</button>
            </div>
         </form>
      </div>
   </body>
</html>
